{% extends "../basic.html" %}
{% block content %}


<div class="panel panel-default">
    <div class="panel-body">
        <h1>Solution for {{ problem.name }}</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Team</th>
                    <th>Status</th>
                    <th>Submit time</th>
                </tr>
            </thead>
            <tbody>
            {% for solution in problem.solutions %}
            <tr>
                <td>
                    <a href="/solution/{{ solution.solution_id }}">{{ solution.solution_id}}</a>
                </td>
                <td><a href="/team/{{ solution.team.team_id }}">{{ solution.team.name }}</a></td>
                {% raw helpers.solution_status(solution) %}
                <td>{{ solution.submission_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>

{% end %}
