{% extends "../basic.html" %}
{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Team</th>
            <th>Status</th>
            <th>Submit time</th>
        </tr>
    </thead>
    <tbody>
    {% for solution in problem.solutions %}
        <tr>
            <td>
                <a href="/solution/{{ solution.solution_id }}">{{ solution.solution_id}}</a>
            </td>
            <td><a href="/team/{{ solution.team.team_id }}">{{ solution.team.team_name }}</a></td>
            <td>{{ solution.get_status().display_name }}</td>
            <td>{{ solution.solution_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
    {% end %}
    </tbody>
</table>

{% end %}
