{% extends "../basic.html" %}
{% block content %}

<table class="table">
    <tr><th>Problem</th><th>Team</th><th>Status</th><th>Submitted</th></tr>
    <tr>
        <td><a href="/problem/{{ testcase.problem.tag }}">{{ testcase.problem.get_letter() }} - {{ testcase.problem.name }}</a></td>
        <td><a href="/team/{{ testcase.team.team_id }}">{{ testcase.team.team_name }}</a></td>
        <td>{{ testcase.get_status().display_name }}</td>
        <td>{{ testcase.testcase_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
</table>

<table class="table">
    <tr><th>Solution</th><th>Team</th><th>Time</th><th>Memory</th><th>Verdict</th></tr>
    {% for judgement in testcase.judgements %}
    <tr>
        <td><a href="/solution/{{judgement.solution_id}}">{{ judgement.solution_id }}</a></td>
        <td><a href="/team/{{judgement.solution.team.team_id}}">{{ judgement.solution.team.team_name }}</a></td>
        <td>{{ judgement.runtime }}</td>
        <td>{{ judgement.memory }}</td>
        <td>{{ judgement.get_verdict().display_name }}</td>
    </tr>
    {% end %}
</table>

{% if display_test %}
{# TODO: Enable testcase download #}
<h3>Testcase</h3>
{% autoescape None %}
{{ test }}

<style>
    {{ source_style }}
</style>

{% end %}
{% end %}
