{% extends "../basic.html" %}
{% block content %}

<table class="table">
    <tr><th>Problem</th><th>Team</th><th>Status</th><th>Submitted</th></tr>
    <tr>
        <td><a href="/problem/{{ solution.problem.tag }}">{{ solution.problem.get_letter() }} - {{ solution.problem.name }}</a></td>
        <td><a href="/team/{{ solution.team.team_id }}">{{ solution.team.team_name }}</a></td>
        <td>{{ solution.get_status().display_name }}</td>
        <td>{{ solution.solution_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
</table>

<table class="table">
    <tr><th>Test case</th><th>Time</th><th>Memory</th><th>Verdict</th></tr>
    {% for judgement in solution.judgements %}
    <tr>
        <td><a href="/testcase/{{judgement.testcase_id}}">{{ judgement.testcase_id }}</a></td>
        <td>{{ judgement.runtime }}</td>
        <td>{{ judgement.memory }}</td>
        <td>{{ judgement.get_verdict().display_name }}</td>
    </tr>
    {% end %}
</table>

{% if display_code %}
{# TODO: Enable code download #}
<h3>Code</h3>
{% autoescape None %}
{{ code }}

<style>
    {{ source_style }}
</style>

{% end %}
{% end %}
