<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="contest-progressbar">
        <strong id="progressbar-elapsed"></strong>
        <div id="progressbar-outer" class="progress">
          {% if contest.get_progress() >= 95 %}
          {% set style = 'danger' %}
          {% elif contest.get_progress() >= 85 %}
          {% set style = 'warning' %}
          {% else %}
          {% set style = 'success' %}
          {% end %}
          <div id="progressbar-inner" class="progress-bar progress-bar-{{ style }}"></div>
        </div>
        <strong id="progressbar-remaining"></strong>
      </div>

      {% if False and contest.is_finished() %}
      <div class="progress" style="height: 20px; margin-right: auto; width: 100%; flex: 2">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          <span style="font-size: 10pt; line-height: 12pt">The contest is over</span>
        </div>
      </div>
      {% elif False %}
      <div class="progress" style="height: 20px; margin: 0; width: 100%">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          <span style="font-size: 10pt; line-height: 12pt">{{ contest.get_until_start_str() }} until start</span>
        </div>
      </div>
      {% end %}
    </div>
  </div>
</div>
