
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    padding-bottom: 90px;
}

#push, #footer {
    height: 50px;
}

#footer {
    background-color: #222;
    border-top: 1px solid #080808;
    text-align: right;
    padding: 15px 15px 5px 15px;
    color: #777;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.jumbotron {
    background-color: #fff;
}

h1 {
    font-weight: bold;
    margin-top: 0;
}

a {
    text-decoration: none !important;
}

td {
    vertical-align: middle !important;
}

table th {
    background-color: #F6F6F6;
}

.btn {
    padding: 5px 8px 5px 8px;
}

.bg-danger {
    background-color: #FFDDDD;
}

.bg-success {
    background-color: #DFF0D8;
}

.bg-warning {
    background-color: #FFF1B8;
}

.bg-info {
    background-color: #D8CAE6;
}

.standings .status {
    font-weight: bold;
}

