
<div class="panel panel-default" style="width: 80%; margin: auto">
    <div class="panel-body">
        <div style="text-align: center">
            <h1>Problem {{problem.get_letter()}} - {{ problem.name }}</h1>
            <td><a class="btn btn-primary" href="#/problem/{{ problem.tag }}/testcases">{{ problem.testcases.length }} testcases</a>
                <a class="btn btn-primary" href="#/problem/{{ problem.tag }}/solutions">{{ problem.solutions.length }} solutions</a></td>
        </div>
        <hr>

        <div ng-bind-html="problem_statement"></div>

        <hr ng-if="logged_in" />
        <div ng-if="logged_in" style="margin: auto">
            <form method="POST" enctype="multipart/form-data">
                <div ng-if="author.role == 'solver'" class="form-group">
                    <div class="col-sm-3">
                        <input name="submission" type="file">
                    </div>
                    <div class="col-sm-9">
                        <input class="btn btn-info" type="submit" value="Submit solution" />
                    </div>
                </div>

                <div ng-if="author.role == 'tester'" class="form-group">
                    <div class="col-sm-3">
                        <input name="submission" type="file">
                    </div>
                    <div class="col-sm-9">
                        <input class="btn btn-info" type="submit" value="Submit testcase" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

