{% extends "../basic.html" %}
{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Problem name</th>
            <th># of testcases</th>
            <th># of solutions</th>
        </tr>
    </thead>
    <tbody>
    {% for problem in problems %}
        <tr>
            <td>{{ chr(ord('A') + problem.contest_order - 1) }}</td>
            <td><a href="/problem/{{ problem.tag }}">{{ problem.name }}</a></td>
            <td><a href="/problem/{{ problem.tag }}/testcases">{{ len(problem.testcases) }}</a></td>
            <td><a href="/problem/{{ problem.tag }}/solutions">{{ len(problem.solutions) }}</a></td>
        </tr>
    {% end %}
    </tbody>
</table>

{% end %}
