{% extends "../basic.html" %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        <h1>Problems</h1>
        {% if not contest.is_started() %}
        The problems will be available when the contest has started.
        {% else %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Problem name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for problem in problems %}
            {% if problem.is_available() %}
            <tr>
                <td>{{problem.get_letter()}}</td>
                <td><a href="/problem/{{ problem.tag }}">{{ problem.name }}</a></td>
                <td><a class="btn btn-primary" href="/problem/{{ problem.tag }}/testcases">{{ len(problem.testcases) }} testcases</a>
                    <a class="btn btn-primary" href="/problem/{{ problem.tag }}/solutions">{{ len(problem.solutions) }} solutions</a></td>
            </tr>
            <tr>
            {% else %}
                <td>{{problem.get_letter()}}</td>
                <td>{{ problem.name }}</a></td>
                <td>This problems becomes available {{ problem.available_from }} after start</td>
            </tr>
            {% end %}
            {% end %}
            </tbody>
        </table>

    </div>
</div>
{% end %}
{% end %}
