{% extends "../basic.html" %}
{% block content %}

<h1>Team {{ view_team.name }}</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Solutions</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Submit time</th>
                </tr>
            </thead>
            <tbody>
            {% for solution in view_team.solutions %}
            <tr>
                <td>
                    <a href="/solution/{{ solution.solution_id }}">{{ solution.solution_id}}</a>
                </td>
                {% raw helpers.solution_status(solution) %}
                <td>{{ solution.submission_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Test cases</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Submit time</th>
                </tr>
            </thead>
            <tbody>
            {% for testcase in view_team.testcases %}
            <tr>
                <td>
                    <a href="/testcase/{{ testcase.testcase_id }}">{{ testcase.testcase_id}}</a>
                </td>
                {% raw helpers.testcase_status(testcase) %}
                <td>{{ testcase.submission_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>



{% end %}
